@page "/about"

<h3>About OT Remotely</h3>

<p>
    Website: <a href="https://oragetechnologies.com">https://oragetechnologies.com</a>
</p>
<p>
    Contact:  <a href="https://oragetechnologies.com/Contact">https://oragetechnologies.com/Contact</a>
</p>
<p>
    Open-Source Licenses: <a href="/credits">Credits</a>
</p>
<p>
    Version: @(AppVersionHelper.GetAppVersion())
</p>
